
div{
    color:white;
    font-family: 'lobster',Monospace ;
}
h1{
color:white;

font-family: 'lobster',arial;
}
body{
    color:white;

    font-family: 'lobster',Monospace ; 
}
td{
    color:white;

    font-family: 'lobster',Monospace ; 
}